@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 30% 96%;
    --foreground: 30 40% 30%;

    --card: 40 30% 98%;
    --card-foreground: 30 40% 30%;

    --popover: 40 30% 98%;
    --popover-foreground: 30 40% 30%;

    --primary: 30 40% 40%;
    --primary-foreground: 40 30% 98%;

    --secondary: 30 20% 92%;
    --secondary-foreground: 30 40% 30%;

    --muted: 30 20% 92%;
    --muted-foreground: 30 25% 45%;

    --accent: 30 40% 85%;
    --accent-foreground: 30 70% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 40% 85%;
    --input: 30 40% 85%;
    --ring: 30 40% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 20% 15%;
    --foreground: 30 20% 80%;

    --card: 30 20% 20%;
    --card-foreground: 30 20% 80%;

    --popover: 30 20% 20%;
    --popover-foreground: 30 20% 80%;

    --primary: 30 20% 70%;
    --primary-foreground: 30 20% 20%;

    --secondary: 30 20% 25%;
    --secondary-foreground: 30 20% 80%;

    --muted: 30 20% 25%;
    --muted-foreground: 30 20% 60%;

    --accent: 30 20% 30%;
    --accent-foreground: 30 20% 80%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 20% 30%;
    --input: 30 20% 30%;
    --ring: 30 20% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .blog-content img {
    @apply w-full;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-script;
  }
  
  .script {
    font-family: var(--font-script);
  }
  
  .handwritten {
    font-family: var(--font-handwritten);
  }
}